input { padding:5px 10px; width:341px;}
.btn.onesixth-width { width:44px; margin:0 14px 0 0; float:left; padding:0; }
.btn.onesixth-width p { padding:5px; }
#results {  }
.type { margin:10px 10px 0 9px ; border:1px solid #aaa; padding:5px 10px 0; background:#fff;}
.type h2 {font-size:80%; font-weight:normal; color:#888; }
.type .item { margin:5px 0; }
.type .item p { font-size:100%; line-height:22px;}
.type .item p.en { background:url(../../global/img/flag-en.png) no-repeat 0px 2px; padding-left:26px; }
.type .item p.it { background:url(../../global/img/flag-it.png) no-repeat 0px 2px; padding-left:26px; margin-bottom:10px; }