p.menu-command { margin:16px 20px 8px; }
.btn.half-width { float:left; width:50%; margin-bottom:10px; cursor: pointer; }
.btn.half-width p { padding:10px; }
.refresh { position:absolute; width:18px; height:18px; background:url(../img/refresh.png); top:22px; right:10px; cursor:pointer; }

h1 { margin:10px 0 0 45px; padding:0; }
h2 { margin:0 0 10px 45px; padding:0; font-size:80%;  font-style: igtalic; color:#888; }

.verb-questions { display:inline-block; }

.verb-questions .item { margin-top:10px;  }
.verb-questions .item label { width:100%; display:inline-block; height: 30px; padding-left: 50px; line-height: 30px; color:#888; font-size:90%; display:none; }
.translation { color:#aaa; font-size: 90%; }
.verb-questions .item.verb label { font-weight:bold; font-size:110%; color:#333; display:block;}
.verb-questions .item div { width:100%; display:inline-block; }
.verb-questions .item .col-pronoun { vertical-align: text-bottom; width:50px; height:30px; display:inline-block; margin:0; padding: 0 3px 0 0; border:0; line-height: 30px; text-align: right; }
.verb-questions .item input { vertical-align: text-bottom; width:254px; height:30px; display:inline-block; margin:0; padding:0 5px; border:0; border-bottom:1px solid #888; }
.compound .verb-questions .item input { width:125px; }
.verb-questions .item .input-2 { display:none; }
.compound .verb-questions .item .input-2 { display:inline-block; }
.verb-questions .item em { cursor:pointer; vertical-align: text-bottom; width:25px; height:30px; display:inline-block; margin:0; padding:0; border:0; line-height: 30px; text-align: center; font-style: normal; color: #888; font-size: 80%; font-weight: bold; }

hr { border-bottom:1px solid #bbb; margin:20px 20px 0; }

input.correct { background:#8B3; }

#test-read h1 { margin-left:20px; }
#test-read h2 { margin-left:20px; }

#test-read .jsPersonList .jsBtn.active p { background:#2BE; }
#test-read .jsPersonTensesList .jsBtn.active p { background:#2BE; }


#test-time .item label { font-weight:bold; font-size:110%; color:#333; display:block; padding-left: 60px; }