h2 { font-size:25px; background:#ccc; padding:5px; }
h3 { font-size:13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline; }

.it { color:#005ddd; }
.en { color:#aa0000; }